@model PatrimonyBank.Models.Investidor
<div class="">
    <p class="tituloLeve fonteLeveM center bordaTxtTitulo">Gerencie os Investidores</p>
</div>

<div class="larguraM centralizeDiv alturaG contornoP" style="overflow-y:auto;  border:1px solid silver;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="validate"></div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control" />
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naturalidade" class="control-label"></label>
                <input asp-for="Naturalidade" class="form-control" />
                <span asp-validation-for="Naturalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <input asp-for="TipoDocumento" class="form-control" />
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgaoEmissor" class="control-label"></label>
                <input asp-for="OrgaoEmissor" class="form-control" />
                <span asp-validation-for="OrgaoEmissor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmissao" class="control-label"></label>
                <input asp-for="DataEmissao" class="form-control" />
                <span asp-validation-for="DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMae" class="control-label"></label>
                <input asp-for="NomeMae" class="form-control" />
                <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePai" class="control-label"></label>
                <input asp-for="NomePai" class="form-control" />
                <span asp-validation-for="NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivil" class="control-label"></label>
                <input asp-for="EstadoCivil" class="form-control" />
                <span asp-validation-for="EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeConjuge" class="control-label"></label>
                <input asp-for="NomeConjuge" class="form-control" />
                <span asp-validation-for="NomeConjuge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisDomicilioFiscal" class="control-label"></label>
                <input asp-for="PaisDomicilioFiscal" class="form-control" />
                <span asp-validation-for="PaisDomicilioFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisDomicilioFiscalOutro" class="control-label"></label>
                <input asp-for="PaisDomicilioFiscalOutro" class="form-control" />
                <span asp-validation-for="PaisDomicilioFiscalOutro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisCidadania" class="control-label"></label>
                <input asp-for="PaisCidadania" class="form-control" />
                <span asp-validation-for="PaisCidadania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisCidadaniaOutro" class="control-label"></label>
                <input asp-for="PaisCidadaniaOutro" class="form-control" />
                <span asp-validation-for="PaisCidadaniaOutro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complemento" class="control-label"></label>
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro" class="control-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OcupacaoProfissional" class="control-label"></label>
                <input asp-for="OcupacaoProfissional" class="form-control" />
                <span asp-validation-for="OcupacaoProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJEmpregativo" class="control-label"></label>
                <input asp-for="CNPJEmpregativo" class="form-control" />
                <span asp-validation-for="CNPJEmpregativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoEmpresa" class="control-label"></label>
                <input asp-for="EnderecoEmpresa" class="form-control" />
                <span asp-validation-for="EnderecoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEmpresa" class="control-label"></label>
                <input asp-for="NumeroEmpresa" class="form-control" />
                <span asp-validation-for="NumeroEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplementoEmpresa" class="control-label"></label>
                <input asp-for="ComplementoEmpresa" class="form-control" />
                <span asp-validation-for="ComplementoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairroEmpresa" class="control-label"></label>
                <input asp-for="BairroEmpresa" class="form-control" />
                <span asp-validation-for="BairroEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CepEmpresa" class="control-label"></label>
                <input asp-for="CepEmpresa" class="form-control" />
                <span asp-validation-for="CepEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeEmpresa" class="control-label"></label>
                <input asp-for="CidadeEmpresa" class="form-control" />
                <span asp-validation-for="CidadeEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoEmpresa" class="control-label"></label>
                <input asp-for="EstadoEmpresa" class="form-control" />
                <span asp-validation-for="EstadoEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisEmpresa" class="control-label"></label>
                <input asp-for="PaisEmpresa" class="form-control" />
                <span asp-validation-for="PaisEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>