<div class="">
    <p class="tituloLeve fonteLeveM center bordaTxtTitulo">Gerencie os Investidores</p>
</div>
<div id="addId" class="larguraG alturaM centralizeDiv cxOps flex centralizeY">
    <div id="" class="alturaG larguraP blue accent-2 arredondarTopoEsquerda ops" onclick="InserirDetalhe()">
        <h3 class="center fonteLeveP" style="color:snow;">+ Novo Investidor</h3>
        <p class="fonteLeveP tituloLeve" style="color:snow; padding:8%;"><i>Insira as informações de um novo Investidor</i></p>
    </div>

    <a id="" asp-action="index" asp-controller="Investidors" class="alturaG larguraP blue accent-2 arredondarTopoDireita ops">
        <h3 class="center fonteLeveP" style="color:snow;">- Ver Investidores</h3>
        <p class="fonteLeveP tituloLeve" style="color:snow; padding:8%; margin-left:6%;"><i>Lista dos investidores existentes em nossa base</i></p>
    </a>
</div>

<div id="cpfId" class="larguraPM alturaPM centralizeDiv contornoP" style="display:none; border:1px solid silver;">
    <button class="btn red" onclick="OcultarModals()">X</button>
    <br>
    <p class="tituloLeve fonteLevep center">Informe o CPF ou CNPJ para agilizarmos o cadastro pra você</p>
     <form asp-action="Index" asp-controller="Investidors">
        <input id="txtCpf" placeholder="Insira o CPF ou CNPJ:" required>
        <input type="submit" value="Confirmar" class="center btn-large blue accent-2" style="margin:4% 40%;">
     </form>
</div>

@section Scripts{
    <script src="~/js/detalhesModelo.js"></script>
}