<div class="">
    <p class="tituloLeve fonteLeveM center bordaTxtTitulo">Gerencie os Investidores</p>
</div>
<div id="" class="larguraG alturaM centralizeDiv cxOps flex centralizeY">
    <a asp-action="" asp-controller="" id="" class="alturaG larguraP blue accent-2 arredondarTopoEsquerda ops" onclick="">
        <h3 class="center fonteLeveP" style="color:snow;">+ Novo Investidor</h3>
        <p class="fonteLeveP tituloLeve" style="color:snow; padding:8%;"><i>Insira as informações de um novo Investidor</i></p>
    </a>

    <a asp-action="index" asp-controller="Investidors" id="" class="alturaG larguraP blue accent-2 arredondarTopoDireita ops" onclick="">
        <h3 class="center fonteLeveP" style="color:snow;">- Ver Investidores</h3>
        <p class="fonteLeveP tituloLeve" style="color:snow; padding:8%; margin-left:6%;"><i>Lista dos investidores existentes em nossa base</i></p>
    </a>
</div>